:root {
    /*-----------------------------font-size------------------------*/
    --fs-sm: 13px;
    --fs-md: 14px;
    --fs-mmd: 15px;
    --fs-2md: 16px;
    --fs-lg: 17px;
    --fs-llg: 18px;
    --fs-2lg: 21px;
    --fs-xl: 26px;
    --fs-xxl: 25px;
    --fs-2xl: 35px;
    
}


/* font size */
.link{
    font-size: var(--fs-md);
}
.link:hover {
    font-size:var(--fs-2md);
}
.heading {
    font-size: var(--fs-2xl);
}
.sub-heading{
    font-size: var(--fs-2lg);
}
.team-heading {
    font-size: var(--fs-xxl);
}

.overflow-heading {
    font-size: var(--fs-xxl);
}

.team-page {
    font-size: var(--fs-llg);
}

.overflow-para {
    font-size: var(--fs-2lg);
}

.bus-52 {
    font-size: var(--fs-llg);
}

.team {
    font-size: var(--fs-mmd);
}

.copy {
    font-size: var(--fs-sm);
}
.btn1{
    font-size: var(--fs-2md);
}
.btn3{
    font-size: var(--fs-lg);
}
footer ul li:first-child {
    font-size: var(--fs-llg);
}
footer ul li:not(:first-child) a {
    font-size: var(--fs-sm);
}
.star{
    font-size: var(--fs-llg);
}


@media(min-width:768px) {
    :root {
        --fs-2xl: 56px;
        --fs-xxl: 45px;
    }

}

@media(min-width:992px) {
    :root {
        --fs-2xl: 75px;
    }
}